body {
    padding-top: 5rem;
}

.profile{
    text-align: center;
}

.profile-header{
    border: 2px solfd black;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: black;
    color: #f0f0f0;
    width: 100%;
}

.profile-header h1{
    color: white;
}

.profile-header img{
    width: 300px;
    border-radius: 50%;
}

.profile-stats{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.profile-stats-item{
    margin: 0 20px;
    text-align: center;
}

.profile-stats-label{
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

button{
    background-color: #7ED321;
    border-radius: 5px;
    color: white;
    width: 120px;
    border-color: #7ED321;
    
}