{% extends "base.html" %}

{% block main %}
<div class="profile">
    <div class="profile-header">
        <img src="{{ url_for('static', filename='img.jpg') }}" alt="Profile Image">
        <h1>{{ user.full_name }}</h1>
        <p id="user">@{{ user.username }}</p>
        <p id="loc">{{ user.location }}</p>
        <p id="join">{{ user.date_joined }}</p>
    </div>
    <p id="bio">{{ user.bio }}</p>
    <div class="profile-stats">
        <div class="profile-stats-item">
            <p>{{ user.num_post }}</p>
            <p class="profile-stats-label">Posts</p>
        </div>
        <div class="profile-stats-item">
            <p>{{ user.num_followers }}</p>
            <p class="profile-stats-label">Followers</p>
        </div>
        <div class="profile-stats-item">
            <p>{{ user.num_following }}</p>
            <p class="profile-stats-label">Following</p>
        </div>
    </div>
    <button>Follow</button>
</div>
{% endblock %}